@import '../../../assets/colors';

:host {
  .input-field {
    label {
      top: 1.3rem;

    }
  }

  p {
    font-size: .8rem;
    margin-bottom: 0;
  }
}

.search-box {
  position: relative;
  top: 10px;
}

.toggle-sidebar {
  background: mat-color($allu-accent, 500) linear-gradient(to bottom, mat-color($allu-accent, A100), mat-color($allu-accent, A700));

  .material-icons {
    color: mat-contrast($allu-accent, 800);
  }
}
