<input-box [ngClass]="classNames">
  <button inputBoxInput [matMenuTriggerFor]="storedFilterMenu" class="allu-icon-button">
    <div *ngIf="selectedFilter !== undefined" class="button-content-clipped">
      {{selectedFilter.name}}
    </div>
    <div *ngIf="selectedFilter === undefined" class="button-content-clipped">
      {{'storedFilter.selectPlaceholder' | translation}}
    </div>
    <mat-icon class="icon-suffix">keyboard_arrow_down</mat-icon>
  </button>
</input-box>

<mat-menu #storedFilterMenu="matMenu" overlapTrigger="false" class="allu-menu-panel">
  <div *ngFor="let filter of availableFilters">
    <div class="allu-menu-item">
      <button mat-menu-item (click)="selectFilter(filter)">
        <span class="menu-item-text">
          {{filter.name}}
          <mat-icon *ngIf="filter.defaultFilter" color="primary" class="mat-icon-18">home</mat-icon>
        </span>
      </button>
      <button mat-icon-button disableRipple="true" (click)="removeFilter(filter.id)">
        <mat-icon color="primary" class="icon-suffix mat-icon-18">clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="allu-menu-item">
    <button mat-menu-item (click)="addNewFilter()">
        <mat-icon color="accent" class="icon-prefix">add_circle</mat-icon>
        <span class="menu-item-text">{{'storedFilter.addCurrent' | translation}}</span>
    </button>
  </div>
</mat-menu>


