<div class="main-content">
  <progressbar [application]="application"></progressbar>
  <application-type
    [typeChangeDisabled]="application.id !== undefined"
    [receivedTime]="application.receivedTime"
    (receivedTimeChange)="updateReceivedTime($event)"
  ></application-type>

  <form [formGroup]="locationForm" (ngSubmit)="onSubmit(locationForm.value)" *ngIf="showMap">
    <div fxLayout="row">
      <div fxFlex>
        <allu-card>
          <mat-card-title>{{'location.title' | translation}}</mat-card-title>
          <mat-card-content>
            <div class="row">
              <div class="mapcontainer">
                <div class="map-overlay">
                  <searchbar
                    [datesRequired]="true"
                    [filter]="searchFilter$ | async"
                    targetType="Location"
                    (searchChange)="onSearchChange($event)">Loading searchbar</searchbar>
                </div>
                <map [zoom]="true" [draw]="true" [edit]="true" [selection]="true"
                     [applicationId]="application.id"
                     role="LOCATION"
                     (editedItemCountChanged)="editedItemCountChanged($event)"
                     [availableLayers]="availableLayers$ | async"
                     [selectedLayers]="selectedLayers$ | async"></map>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <ng-container *ngIf="areas.length > 0">
                <div fxFlex="0 1 calc(50% - 18px)" *ngIf="editedItemCount > 0" class="col m6">
                  <div class="input-field-info-text">
                    {{'location.fixedLocationNotAllowed' | translation}}
                  </div>
                </div>
                <div fxFlex="0 1 calc(30% - 18px)" *ngIf="editedItemCount === 0">
                  <mat-form-field class="input-full-width">
                    <mat-select class="input-full-width"
                                formControlName="area"
                                [placeholder]="'location.fixedArea' | translation">
                      <mat-option value="" selected>{{'location.noAreaSelected' | translation}}</mat-option>
                      <mat-option *ngFor="let area of areas" [value]="area.id">{{area.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="0 1 calc(30% - 18px)">
                  <div *ngIf="areaSections.length">
                    <mat-form-field class="input-full-width">
                      <mat-select class="input-full-width" multiple
                                  formControlName="sections"
                                  [placeholder]="'location.sections' | translation">
                        <mat-option *ngFor="let section of areaSections" [value]="section.id">{{section.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </ng-container>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex="0 1 calc(20% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="number"
                         formControlName="areaSize"
                         [placeholder]="'location.area' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex="0 1 calc(20% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="number" formControlName="areaOverride"
                         [placeholder]="'location.areaOverride' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex="0 1 calc(20% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="cityDistrictName"
                         [placeholder]="'location.cityDistrict' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex="0 1 calc(20% - 18px)">
                <mat-form-field class="input-full-width">
                  <mat-select formControlName="cityDistrictIdOverride" class="input-full-width"
                              [placeholder]="'location.cityDistrictOverride' | translation">
                    <mat-option value="" selected>-</mat-option>
                    <mat-option *ngFor="let district of districts | async" [value]="district.id">
                      {{district.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex="0 1 calc(20% - 18px)" *ngIf="showPaymentTariff">
                <mat-form-field class="input-full-width">
                  <input matInput type="text"
                         [value]="paymentTariff()"
                         [disabled]="true"
                         [placeholder]="'location.paymentTariff' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex="0 1 calc(20% - 18px)" *ngIf="showPaymentTariff">
                <mat-form-field class="input-full-width">
                  <mat-select class="input-full-width"
                              formControlName="paymentTariffOverride"
                              [placeholder]="'location.paymentTariffOverride' | translation">
                    <mat-option>-</mat-option>
                    <mat-option *ngFor="let tariff of paymentTariffs" [value]="tariff">{{'location.paymentTariffValue' | translation:{tariff: tariff} }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="0 1 calc(20% - 18px)" *ngIf="application.type==='AREA_RENTAL'">
                <mat-form-field class="input-full-width">
                  <input matInput type="text"
                         [disabled]="true"
                         [value]="location?.customerStartTime | date:'shortDate'"
                         [placeholder]="'location.customerStartTime' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex="0 1 calc(20% - 18px)" *ngIf="application.type==='AREA_RENTAL'">
                <mat-form-field class="input-full-width">
                  <input matInput type="text"
                         [disabled]="true"
                         [value]="location?.customerEndTime | date:'shortDate'"
                         [placeholder]="'location.customerEndTime' | translation"/>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex="0 1 calc(60% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text"
                         formControlName="info"
                         [placeholder]="'location.additionalInfo' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex="0 1 calc(20% - 18px)" *ngIf="application.type==='AREA_RENTAL'">
                <mat-checkbox formControlName="underpass" class="checkbox-matching-height">
                  {{'location.underpass' | translation}}
                </mat-checkbox>
              </div>
            </div>
            <ng-container *ngIf="multipleLocations">
              <div fxLayout="row">
                <div fxFlex>
                  <button mat-raised-button type="button"
                          color="primary" [disabled]="!locationForm.valid"
                          (click)="storeLocation(locationForm.value)">
                    {{'common.button.save' | translation | uppercase}}
                  </button>
                  <button mat-raised-button type="button"
                          color="primary"
                          (click)="cancelArea()">
                    {{'common.button.cancel' | translation | uppercase}}
                  </button>
                </div>
              </div>
              <div fxLayout="row" *ngIf="multipleLocations">
                <div fxFlex>
                  <stored-locations></stored-locations>
                </div>
              </div>
            </ng-container>
          </mat-card-content>
        </allu-card>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex>
        <allu-card>
          <mat-card-title>{{'common.saving' | translation}}</mat-card-title>
          <mat-card-content>
            <div fxLayout="row">
              <div fxFlex="0 1 70%">
                <a mat-raised-button type="button" color="primary" [routerLink]="cancelLink()">
                  {{'common.button.cancel' | translation | uppercase}}
                </a>
              </div>
              <div fxFlex="0 1 30%">
                <button mat-raised-button type="submit" color="primary" [disabled]="!submitAllowed">
                  {{'location.button.save' | translation | uppercase}}
                </button>
              </div>
            </div>
          </mat-card-content>
        </allu-card>
      </div>
    </div>
  </form>
</div>
