@import '../../../assets/colors';

:host {
  background: mat-color($allu-primary, 500);
  color: mat-contrast($allu-primary, 500);
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-height: 50px;
  padding: 0 16px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

:host(.stripes) {
  background: repeating-linear-gradient(
    45deg,
    #0070c2,
    #0070c2 10px,
    #00387c 10px,
    #00387c 20px
  )
}

[fxLayout].toolbar {
  margin-bottom: 0px;
  width: 100%;
}

.logo {
  line-height: 1;
  padding-top: 5px;
  width: 250px;
}

.version {
  font-size: 9px;
  padding-left: 5px;
}


h1 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: .1px;
  margin: 0;
}

.toolbar-section {
  padding: 0 5px;
  border-left: 2px solid mat-color($allu-primary, 300);
}

.toolbar-section > * {
  height: 100%;
}

.pill {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: bold;
  background: mat-color($allu-accent, A700);
  color: mat-contrast($allu-accent, 900);
}
