<customer-info-acceptance
  [form]="form"
  [countryCodes]="countryCodes$ | async"
  [oldCustomer]="referenceCustomer$ | async"
  [newCustomer]="newCustomer"
  [readonly]="readonly"
  (customerChanges)="customerChanges($event)">
  <div class="left-header">
    <h2 mat-dialog-title>
      {{['informationRequest.field', fieldKey] | translation}}
    </h2>
  </div>
  <div class="right-header">
    <div class="info-acceptance-hint">
      {{'customer.suggestion.info' | translation}}
    </div>
  </div>
  <div class="left-controls">
    <form [formGroup]="searchForm">
      <mat-form-field floatLabel="never" class="input-full-width" *ngIf="!readonly">
        <input matInput type="text" formControlName="search"
               [placeholder]="'customer.search.search' | translation"
               [matAutocomplete]="customerSearch"/>
        <mat-icon matSuffix>arrow_drop_down</mat-icon>
        <mat-autocomplete #customerSearch="matAutocomplete">
          <mat-option *ngFor="let customer of matchingCustomers$ | async"
                      [value]="customer.name" (click)="selectReferenceCustomer(customer)">
            {{ customer.name }} ({{customer.registryKey}})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div *ngIf="!readonly && canBeInvoiceRecipient">
        <mat-checkbox formControlName="useForInvoicing">
          {{'customer.useForInvoicing' | translation}}
        </mat-checkbox>
      </div>
    </form>
  </div>
  <div class="right-controls">
    <p class="acceptance-info" *ngIf="!readonly">
      <button
        *ngIf="showCreateNew | async"
        type="button"
        mat-raised-button
        color="primary"
        (click)="createNewCustomer()">
        {{'customer.createNew' | translation}}
      </button>
    </p>
  </div>
</customer-info-acceptance>
