<div class="main-content">
  <div fxLayout="row">
    <div fxFlex>
      <button mat-raised-button type="button" color="primary" (click)="newUser()">
        {{'user.addNew' | translation}}
      </button>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex>
      <table class="bordered responsive-table">
        <thead>
        <tr>
          <th>{{'user.username' | translation}}</th>
          <th>{{'user.name' | translation}}</th>
          <th>{{'user.lastLogin' | translation}}</th>
          <th>{{'user.roles' | translation}}</th>
          <th>{{'user.applicationTypes' | translation}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | async" class="clickable row-highlight"
            (click)="onSelect(user)">
          <td>{{user.userName}}</td>
          <td>{{user.realName}}</td>
          <td>{{user.uiLastLogin}}</td>
          <td>
            <span *ngFor="let role of user.assignedRoles; let last=last">
                {{['user.role', role] | translation | commaSeparated: last}}
            </span>
          </td>
          <td>
            <span *ngFor="let applicationType of user.allowedApplicationTypes; let last=last">
                {{['application.type', applicationType] | translation | commaSeparated: last}}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
