<div class="main-content">
  <div fxLayout="row">
    <div fxFlex="50%">
      <allu-card>
        <mat-card-title>{{'user.userInfo' | translation}}</mat-card-title>
        <mat-card-content>
          <form [formGroup]="userForm" (ngSubmit)="save(userForm.value)">
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex="calc(40% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" class="lowercase"
                         formControlName="userName" required
                         [placeholder]="'user.username' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex="calc(60% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="realName"
                         required [placeholder]="'user.name' | translation"/>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex="calc(40% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="title"
                         [placeholder]="'user.title' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex="calc(30% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="emailAddress"
                         [placeholder]="'user.email' | translation"/>
                  <mat-error *ngIf="userForm.get('emailAddress').hasError('email')">
                    {{'common.field.emailInvalid' | translation}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="calc(30% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="phone"
                         [placeholder]="'user.phone' | translation"/>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex>
                <mat-form-field class="input-full-width">
                  <mat-select formControlName="allowedApplicationTypes" [multiple]="true"
                              [placeholder]="'user.applicationTypes' | translation"
                              class="input-full-width">
                    <mat-option *ngFor="let type of applicationTypes" [value]="type">{{['application.type', type] |
                      translation}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex>
                <mat-form-field class="input-full-width">
                  <mat-select formControlName="assignedRoles" [multiple]="true"
                              [placeholder]="'user.roles' | translation"
                              class="input-full-width">
                    <mat-option value="ROLE_ADMIN" [disabled]="!(canRemoveAdminRole() | async)">
                      {{'user.role.ROLE_ADMIN' | translation}}
                    </mat-option>
                    <mat-option *ngFor="let role of roles" [value]="role">{{['user.role', role] | translation}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex>
                <mat-form-field class="input-full-width">
                  <mat-select formControlName="cityDistrictIds" [multiple]="true"
                              [placeholder]="'user.cityDistricts' | translation"
                              class="input-full-width">
                    <mat-option *ngFor="let district of districts | async" [value]="district.id">{{district.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex>
                <mat-checkbox formControlName="isActive">{{'user.active' | translation}}</mat-checkbox>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex>
                <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid || submitted">
                  {{'common.button.save' | translation}}
                </button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </allu-card>
    </div>
  </div>
</div>
