@import '../../../assets/colors';
@import '../../../assets/variables';

$mat-toolbar-height: 50px;
$sidenav-search-height: 300px;
$sidenav-search-result-header-height: 60px;
$sidenav-upper-part-height: calc(#{$mat-toolbar-height} + #{$sidenav-search-height} + #{$sidenav-search-result-header-height});
$sidenav-search-result-height: calc(100vh - #{$sidenav-upper-part-height});

:host {
  .row {
    margin-bottom: 0;
  }

  .input-field {
    label {
      left: 0;
      top: 1.3rem;
    }
  }
}

mat-sidenav-container.mat-drawer-container {
  max-height: calc(100vh -  #{$mat-toolbar-height});
}

mat-sidenav {
  width: 400px;
  box-shadow: 0 2px 20px 0 #757575;
}

mat-sidenav.no-scroll {
  overflow-y: hidden;
}

.mat-drawer-backdrop.mat-drawer-shown {
  visibility: hidden !important;
}

.sidenav-header {
  margin: 15px 0 0 0.75rem;
}

.sidenav-centered-content {
  margin: 0 0.75rem;
}

.sidenav-search {
  height: 300px;
}

.sidenav-search-results {
  position: relative;

  h1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  application-list {
    position: absolute;
    width: 100%;
    overflow-y: auto;
    height: $sidenav-search-result-height;
  }
}

.mapcontainer {
  height: calc(100vh -  #{$mat-toolbar-height});
  position: relative;

  .map-overlay {
    position: absolute;
    top: 0;
    left: 24px;
    z-index: $over-map;
    width: 40vw;
  }
}

.btn-right {
  display:inline-block;
  padding: .5em .75em;
  border: 0px;
  flex: 0;
  border-radius: 6px 0 0 6px;
  background: mat-color($allu-accent, 500) linear-gradient(to bottom, mat-color($allu-accent, A100), mat-color($allu-accent, A700));
  min-width: 60px;
  width: 60px;
  height: 60px;

  .material-icons {
    color: mat-contrast($allu-accent, 800);
    font-weight: bolder;
  }
}

button.btn-right:focus {
  outline: none;
}
