@import '../../../assets/colors';

:host {
  background-color: $allu-background;
}

.search-results.mat-list {
  padding-top: 0px;
}

.mat-list .mat-list-item .mat-list-text > h1.mat-line {
  font-size: 18px;
  font-weight: 400;
  color: mat-color($allu-primary, 500);
}

.mat-divider {
  border-top-color: mat-color($allu-primary, 200);
}

