<div class="main-content work-queue-controls">
  <workqueue-filter [owners]="owners"></workqueue-filter>

  <div fxLayout='row' class="work-queue-action-buttons"
       *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION', 'ROLE_DECISION', 'ROLE_SUPERVISE']">
    <div fxFlex="25">
      <button mat-raised-button type="button" color="primary" [disabled]="noneSelected"
              class="in-front" (click)="moveSelectedToSelf()">
        {{'common.button.toSelf' | translation | uppercase}}
      </button>
      <button mat-raised-button type="button" color="primary" [disabled]="noneSelected"
              class="in-front" (click)="openHandlerModal()">
        {{'common.button.moveTo' | translation | uppercase}}
      </button>
      <button mat-raised-button type="button" color="primary" [disabled]="noneSelected"
              class="in-front" (click)="addToBasket()"
              *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
        {{'applicationBasket.addTo' | translation | uppercase}}
      </button>
    </div>
  </div>

  <div fxLayout='row'>
    <div fxFlex>
      <div class="labels-solid labels-end">
        <nav mat-tab-nav-bar>
          <a mat-tab-link
             *ngFor="let tab of tabs"
             [routerLink]="tab | lowercase"
             routerLinkActive #rla="routerLinkActive"
             [active]="rla.isActive">
            {{['workqueue.tab', tab] | translation}}
          </a>
        </nav>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
