<div class="main-content">
  <div class="search-bar">
    <h1>HAKU</h1>
    <form [formGroup]="queryForm">
      <div fxLayout="row" fxLayoutGap="18px">
        <div fxFlex="30%">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="applicationId"
                   [placeholder]="'applicationSearch.applicationId' | translation"/>
          </mat-form-field>
        </div>
        <div fxFlex="15%">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="type" [multiple]="true"
                        [placeholder]="'applicationSearch.type' | translation" class="input-full-width">
              <mat-option *ngFor="let option of applicationTypeStrings" [value]="option">
                {{ ['application.type', option] | translation }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15%">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="status" [multiple]="true"
                        [placeholder]="'applicationSearch.status' | translation" class="input-full-width">
              <mat-option *ngFor="let option of applicationStatusStrings" [value]="option">
                {{ ['application.status', option] | translation }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15%">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="districts" [multiple]="true"
                        [placeholder]="'application.cityDistrict' | translation" class="input-full-width">
              <mat-option *ngFor="let district of districts | async" [value]="district.id">{{district.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="15%">
          <mat-form-field class="input-full-width">
            <mat-select formControlName="owner" [multiple]="true"
                        [placeholder]="'applicationSearch.owner' | translation" class="input-full-width">
              <mat-option *ngFor="let owner of owners | async" [value]="owner.userName">{{owner.realName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="18px">
        <div fxFlex="30%">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="address"
                   [placeholder]="'applicationSearch.address' | translation"/>
          </mat-form-field>
        </div>
        <div fxFlex="15%">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="applicant"
                   [placeholder]="'application.applicant' | translation"/>
          </mat-form-field>
        </div>
        <div fxFlex="15%">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="contact"
                   [placeholder]="'application.contact' | translation"/>
          </mat-form-field>
        </div>
        <div fxFlex="15%">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="freeText"
                   [placeholder]="'common.freeTextSearch' | translation"/>
          </mat-form-field>
        </div>
        <div fxFlex="7%">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="startTime"
                   [placeholder]="'applicationSearch.startTime' | translation"
                   [matDatepicker]="startTimePicker"/>
            <mat-datepicker-toggle matSuffix [for]="startTimePicker"></mat-datepicker-toggle>
            <mat-datepicker #startTimePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="7%">
          <mat-form-field class="input-full-width">
            <input matInput type="text" formControlName="endTime"
                   [placeholder]="'applicationSearch.endTime' | translation"
                   [matDatepicker]="endTimePicker"/>
            <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
            <mat-datepicker #endTimePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <button (click)="search()" mat-raised-button type="button" color="primary">
            {{'common.button.search' | translation | uppercase}}
          </button>
          <button mat-raised-button type="button" color="primary" [disabled]="noneSelected"
                  class="in-front" (click)="addToBasket()"
                  *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
            {{'applicationBasket.addTo' | translation | uppercase}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex>
    <div class="mat-elevation-z8 data-table data-table-with-paging">
      <div class="loading-shade" *ngIf="dataSource.loading">
        <mat-spinner></mat-spinner>
      </div>
      <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackById">
        <ng-container matColumnDef="selected">
          <mat-header-cell *matHeaderCellDef>
            <div>
              <mat-checkbox [checked]="allSelected" (change)="checkAll($event)"></mat-checkbox>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox [checked]="selected(row.id)" (change)="checkSingle($event, row.id)"></mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="owner.realName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.owner' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.owner?.realName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="applicationId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.applicationId' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a class="row-details-link" [routerLink]="['/applications', row.id, 'summary']">
              {{row.applicationId}}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.name' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.type.title' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ ['application.type', row.type] | translation }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.status.title' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ ['application.status', row.status] | translation }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="project.identifier">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'project.title' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a *ngIf="row.project" class="row-details-link" [routerLink]="['/projects', row.project.id]">
              {{row.project.identifier}}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="customers.applicant.customer.name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.applicant' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.applicant.customer?.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="locations.address">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.streetAddress' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.address}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="locations.cityDistrictId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.cityDistrict' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{districtName(row.firstLocation.effectiveCityDistrictId) | async}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="creationTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'application.creationTime' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.receivedTime | date:'shortDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'applicationSearch.startTime' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.startTime | date:'shortDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="endTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'applicationSearch.endTime' | translation}}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.endTime | date:'shortDate'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="allu-table-header"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 class="row-highlight"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                     [length]="dataSource.pageSnapshot.totalElements"
                     [pageIndex]="dataSource.pageSnapshot.pageNumber"
                     [pageSize]="25"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>
