<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)"
      *ngIf="applicationChanges | async as application">
  <customer [parentForm]="applicationForm"
            [customerWithContacts]="application.applicant"
            [readonly]="readonly"
            [showPropertyDeveloper]="true"
            [contactRequired]="true"
            [pendingInfo]="pendingCustomerInfo$ | async"></customer>

  <customer *ngIf="hasPropertyDeveloper"
            [parentForm]="applicationForm"
            [customerWithContacts]="application.propertyDeveloper"
            [readonly]="readonly"></customer>

  <customer [parentForm]="applicationForm"
            [customerWithContacts]="application.contractor"
            [readonly]="readonly"
            [showRepresentative]="true"
            [contactRequired]="true"></customer>

  <customer *ngIf="hasRepresentative" [parentForm]="applicationForm" [customerWithContacts]="application.representative"
            [readonly]="readonly"></customer>

  <div class="row">
    <div class="col m12">
      <allu-card>
        <mat-card-title>Aluevuokrauksen voimassaolo</mat-card-title>
        <mat-card-content>
          <div class="row form-group">
            <div formGroupName="validityTimes" class="col s6">
              <div class="col s6">
                <mat-form-field class="input-full-width">
                  <input matInput disabled type="text" [value]="startTime | date:'shortDate'"
                         [placeholder]="'application.common.startTime' | translation"/>
                </mat-form-field>
              </div>
              <div class="col s6">
                <mat-form-field class="input-full-width">
                  <input matInput disabled type="text" [value]="endTime | date:'shortDate'"
                         [placeholder]="'application.common.endTime' | translation"/>
                </mat-form-field>
              </div>
            </div>
            <div class="col s3">
              <mat-form-field class="input-full-width">
                <input matInput disabled type="text" [value]="workFinished | date:'shortDate'"
                       [placeholder]="'application.areaRental.workFinished' | translation"/>
              </mat-form-field>
            </div>
            <div class="col s3">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="customerWorkFinished"
                       [placeholder]="'application.areaRental.customerWorkFinished' | translation"
                       [matDatepicker]="customerWorkFinishedPicker"/>
                <button type="button" mat-icon-button matSuffix
                        *ngIf="showReportCustomerDates; else customerWorkFinishedPickerToggle"
                        (click)="reportCustomerWorkFinished(application.extension)">
                  <mat-icon>event</mat-icon>
                </button>
                <ng-template #customerWorkFinishedPickerToggle>
                  <mat-datepicker-toggle matSuffix [for]="customerWorkFinishedPicker"></mat-datepicker-toggle>
                </ng-template>
                <mat-datepicker #customerWorkFinishedPicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <allu-card>
        <mat-card-title>Aluevuokrauksen tiedot</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col m12">
              <mat-form-field class="input-full-width">
                <textarea matInput matTextareaAutosize required
                          formControlName="workPurpose"
                          [placeholder]="'application.common.workPurpose' | translation"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col m2">
              <mat-checkbox formControlName="pksCard">{{'application.common.pksCard' | translation}}</mat-checkbox>
            </div>
            <div class="col m2">
              <mat-checkbox formControlName="majorDisturbance">{{'application.areaRental.majorDisturbance' | translation}}</mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col m12">
              <default-text formControlName="trafficArrangements"
                  [applicationType]="application.type"
                  [readonly]="readonly"
                  [textType]="'TRAFFIC_ARRANGEMENT'"
                  [includeTypes]="['TRAFFIC_ARRANGEMENT']"></default-text>
            </div>
          </div>
          <div class="row">
            <div class="col m12">
              <mat-button-toggle-group formControlName="trafficArrangementImpedimentType">
                <mat-button-toggle value="NO_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.NO_IMPEDIMENT' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="INSIGNIFICANT_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.INSIGNIFICANT_IMPEDIMENT' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="IMPEDIMENT_FOR_HEAVY_TRAFFIC">
                  {{'application.trafficArrangementImpedimentType.IMPEDIMENT_FOR_HEAVY_TRAFFIC' | translation}}
                </mat-button-toggle>
                <mat-button-toggle value="SIGNIFICANT_IMPEDIMENT">
                  {{'application.trafficArrangementImpedimentType.SIGNIFICANT_IMPEDIMENT' | translation}}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="row">
            <div class="col m12">
              <mat-form-field class="input-full-width">
                                <textarea matInput matTextareaAutosize formControlName="additionalInfo"
                                          placeholder="Lisätiedot"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div class="row" *ngIf="readonly">
    <div class="col m12">
      <location-details [application]="application" [readonly]="readonly"></location-details>
    </div>
  </div>

  <div fxLayout="row" *ngIf="showTerms">
    <div fxFlex>
      <allu-card>
        <mat-card-title>{{'TERMS.title' | translation}}</mat-card-title>
        <mat-card-content>
          <default-text formControlName="terms"
                        [applicationType]="application.type"
                        [readonly]="readonly"
                        [textType]="'TERMS'"
                        [includeTypes]="['TERMS']"></default-text>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <distribution [form]="applicationForm" [application]="application" [readonly]="readonly"></distribution>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <application-actions
        [readonly]="readonly"
        [valid]="applicationForm.valid"
        [informationRequest]="informationRequest$ | async"
        [pendingClientData]="pendingClientData$ | async"
        [pendingInformationRequestResponse]="pendingInformationRequestResponse$ | async"
        [submitPending]="submitPending"></application-actions>
    </div>
  </div>
</form>
