<form [formGroup]="selectionForm">
  <div class="section-container">
    <div class="section-content">
      <ng-content select=".left-header"></ng-content>
    </div>
    <div class="section-content">
      <ng-content select=".right-header"></ng-content>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content info-acceptance-control">
      <ng-content select=".left-controls"></ng-content>
    </div>
    <div class="section-content info-acceptance-control">
      <ng-content select=".right-controls"></ng-content>
    </div>
  </div>

  <div class="section-container">
    <div class="section-content">
      <field-select
        #oldValuesSelect
        [id]="id + '-old'"
        [descriptions]="fieldDescriptions"
        [fieldValues]="oldDisplayValues"
        formControlName="oldValues"></field-select>
    </div>
    <div class="section-content">
      <field-select
        #newValuesSelect
        [id]="id + '-new'"
        [descriptions]="fieldDescriptions"
        [fieldValues]="newDisplayValues"
        [comparedValues]="oldDisplayValues"
        formControlName="newValues"></field-select>
    </div>
  </div>
</form>
