<div class="row" [ngClass]="customerClass">
  <form [formGroup]="customerForm">
    <div class="col m6 col-first">
      <allu-card>
        <mat-card-content *ngIf="pendingInfo">
          <div fxLayout="row" fxLayoutGap=2px fxLayoutAlign="start center">
            <mat-icon color="accent">warning</mat-icon>
            <div>{{'application.clientData.newData' | translation}}</div>
            <a class="clickable" (click)="showPending()">{{'application.clientData.show' | translation}}</a>
          </div>
        </mat-card-content>
        <mat-card-title>
          {{['customer.role', customerWithContacts.uiRoleType, 'title'] | translation}}
          <button mat-icon-button type="button" *ngIf="!readonly" (click)="contacts.addContact()" class="align-with-text">
            <mat-icon>group_add</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-content>
          <customer-info [form]="customerForm" [allowSearch]="true"
                         (customerChange)="onCustomerChange($event)"></customer-info>
          <div fxLayout="row">
            <div fxFlex="50%" *ngIf="showRepresentative">
              <mat-checkbox [checked]="parentForm.getRawValue().hasRepresentative" [disabled]="readonly"
                            (change)="onRepresentativeChange($event.checked)">
                {{'customer.handledByRepresentative' | translation}}
              </mat-checkbox>
            </div>
            <div fxFlex="50%" *ngIf="showPropertyDeveloper">
              <mat-checkbox [checked]="parentForm.getRawValue().hasPropertyDeveloper" [disabled]="readonly"
                            (change)="onPropertyDeveloperChange($event.checked)">
                {{'customer.hasPropertyDeveloper' | translation}}
              </mat-checkbox>
            </div>
            <div fxFlex="50%" *ngIf="isNewCustomer" class="align-right">
              <button type="button" mat-raised-button
                      color="primary"
                      [disabled]="!customerForm.valid"
                      (click)="save(customerForm.value)">
                {{'customer.createNew' | translation | uppercase}}
              </button>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </form>
  <contact #contacts [parentForm]="parentForm" [customerRoleType]="customerWithContacts.uiRoleType"
           [readonly]="readonly" [contactRequired]="contactRequired"></contact>
</div>
