<div fxLayout="row" fxLayoutAlign="space-between center" class="item-bar">
  <div fxFlex>
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="tags align-with-content">
      <div fxFlex="initial">
          {{'application.tags' | translation}}:
      </div>
      <div fxFlex="initial">
        <mat-chip-list>
          <mat-chip class="slim-chip" color="accent" selected="true" *ngFor="let tag of tags | async; let i = index;">
            {{['application.tag.type', tag.type] | translation}}
            <button *ngIf="canBeRemoved(tag.type)" mat-icon-button (click)="remove(tag)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div *availableTo="MODIFY_ROLES" fxFlex="initial">
        <mat-chip *ngIf="(availableTagCount | async)" class="slim-chip chip-outline" color="primary" selected="true">
          {{'application.tag.add' | translation}}
          <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>add_circle_outline</mat-icon></button>
        </mat-chip>
      </div>
    </div>
  </div>
</div>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item *ngFor="let type of availableTagTypes | async" (click)="add(type)">
    {{['application.tag.type', type] | translation}}
  </button>
</mat-menu>
