<allu-card *ngIf="defaultAttachments?.length > 0">
  <mat-card-title>{{['attachment.selectionTitle', attachmentType] | translation}}</mat-card-title>
  <mat-card-content>
    <div *ngIf="isAllowedToEdit">
      <selection-group fxLayout="row wrap" fxLayoutGap="18px" fxLayoutAlign="start"
                       [ngModel]="selectedAttachments" (select)="onSelect($event)"
                       *ngIf="defaultAttachments">
        <div fxFlex="nogrow" *ngFor="let attachment of defaultAttachments">
          <selection-item [item]="attachment" selectType="CHECKBOX">
            {{attachment.name}}
          </selection-item>
          <button mat-icon-button (click)="download(attachment)">
            <mat-icon>file_download</mat-icon>
          </button>
        </div>
      </selection-group>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="18px" fxLayoutAlign="start" *ngIf="!isAllowedToEdit">
      <div fxFlex="nogrow" *ngFor="let attachment of selectedAttachments">
        <span>{{attachment.name}}</span>
        <button mat-icon-button (click)="download(attachment)">
          <mat-icon>file_download</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</allu-card>
