<div fxLayout="row">
  <div fxFlex>
    <allu-card>
      <mat-card-content *ngIf="pendingKind$ | async as pendingKind">
        <div fxLayout="row" fxLayoutGap=2px fxLayoutAlign="start center">
          <mat-icon color="accent">warning</mat-icon>
          <div>{{'application.clientData.newValue' | translation:{value: pendingKind} }}.</div>
          <a class="clickable" (click)="showPending()">{{'application.clientData.show' | translation}}</a>
        </div>
      </mat-card-content>
      <mat-card-title>{{'application.type.titleLong' | translation}}</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form">
          <div fxLayout="row wrap" fxLayoutGap="18px" fxLayoutAlign="start center" class="inner-row">
            <div fxFlex="0 1 calc(20% - 18px)" class="type-select">
              <mat-form-field class="input-full-width">
                <mat-select formControlName="type" class="input-full-width" required
                            [placeholder]="'application.type.titleLong' | translation">
                  <mat-option *ngFor="let type of applicationTypes | async" [value]="type">
                    {{['application.type', type] | translation}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="0 1 calc(20% - 18px)" class="type-select" *ngIf="multipleKinds">
              <mat-form-field class="input-full-width">
                <mat-select formControlName="kinds" multiple required
                            class="input-full-width"
                            [placeholder]="'application.kind.placeholder.multiple' | translation">
                  <mat-option *ngFor="let kind of availableKinds" [value]="kind">
                    {{['application.kind', kind] | translation}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('kinds').hasError('required')">
                  {{'application.field.kindMissing' | translation}}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="0 1 calc(20% - 18px)" class="type-select" *ngIf="!multipleKinds">
              <mat-form-field class="input-full-width">
                <mat-select formControlName="kinds" required
                            class="input-full-width"
                            [placeholder]="'application.kind.placeholder.single' | translation">
                  <mat-option *ngFor="let kind of availableKinds" [value]="kind">
                    {{['application.kind', kind] | translation}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('kinds').hasError('required')">
                  {{'application.field.kindMissing' | translation}}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="0 1 calc(20% - 18px)" class="type-select" *ngIf="showSpecifierSelection()">
              <mat-form-field class="input-full-width">
                <mat-select formControlName="specifiers" multiple
                            [placeholder]="'application.specifier.placeholder' | translation"
                            class="input-full-width">
                  <mat-optgroup *ngFor="let kind of availableKindsWithSpecifiers | keys"
                                [label]="['application.kind', kind] | translation">
                    <mat-option *ngFor="let specifier of availableKindsWithSpecifiers[kind]"
                                [value]="kind + ':' + specifier">
                      {{['application.specifier', specifier] | translation}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="1 1 calc(20% - 18px)">
              <mat-form-field>
                <input matInput type="text" required
                       formControlName="receivedTime"
                       [placeholder]="'application.receivedTime' | translation"
                       [matDatepicker]="receivedTimePicker"/>
                <mat-datepicker-toggle matSuffix
                       [for]="receivedTimePicker"
                       [disabled]="readonly"></mat-datepicker-toggle>
                <mat-datepicker #receivedTimePicker></mat-datepicker>
                <mat-error *ngIf="form.get('receivedTime').hasError('required')">
                  {{'application.field.receivedTimeMissing' | translation}}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex *ngIf="showDraftSelection">
              <mat-slide-toggle formControlName="draft">
                {{'application.draft' | translation}}
              </mat-slide-toggle>
            </div>
          </div>
        </form>
      </mat-card-content>
    </allu-card>
  </div>
</div>
