@mixin allu-list-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-selection-list:focus,
  .mat-list-option:focus {
    outline-color: mat-color($primary, 100);
  }

  .mat-list.striped .mat-list-item:nth-child(odd) {
    background: mat-color($primary, 50);
  }
}
