@import 'variables';
@import 'colors';
@import 'layout';
@import 'modal';
@import 'map';
@import "inputs";
@import "buttons";
@import "menu";
@import "icons";
@import "nav/nav";
@import "radio-buttons";
@import "table";
@import "accordion";
@import "notification/oval";
@import "badge";
@import 'allu-common';
@import 'allu-common-theme';
@import 'icons-theme';
@import 'list-theme';
@import 'forms';
@import '../app/feature/common/input-box/input-box.component.theme';
@import '../app/feature/common/bottom-bar/bottom-bar.component.theme';
@import '../app/feature/common/card/allu-card.component.theme';
@import '../app/feature/stored-filter/stored-filter.component.theme';
@import '../app/feature/project/header/project-header.component.theme';
@import '../app/feature/comment/comments.theme';
@import '../app/feature/history/history.theme';
@import '../app/feature/application/progressbar/progressbar-theme';
@import '../app/feature/information-request/information-request-theme';
@import '../app/feature/application/notification/application-notification-theme';
@import '../app/feature/application/invoicing/charge-basis/charge-basis.theme';
@import '../app/feature/application/invoicing/invoice/invoice.theme';
@import '../app/js/leaflet/draw-line/src/L.Toolbar.css';
@import "~ngx-toastr/toastr.css";

// Theme components
@include angular-material-theme($allu-theme);
@include allu-common-theme($allu-theme);
@include allu-icons-theme($allu-theme, $black-50-opacity);
@include allu-list-theme($allu-theme);
@include placeholder-theme($allu-theme);
@include checkbox-theme($allu-theme);
@include nav-theme($allu-theme);
@include input-box-theme($allu-theme);
@include stored-filter-theme($allu-theme);
@include buttons-theme($allu-theme);
@include toggle-buttons-theme($allu-theme);
@include modal-theme($allu-theme);
@include allu-card-theme($allu-theme, $allu-success, $allu-basic);
@include table-theme($allu-theme);
@include bottom-bar-theme($allu-theme);
@include project-header-theme($allu-theme);
@include oval-theme($allu-theme);
@include comments-theme($allu-theme);
@include history-theme($allu-theme);
@include progressbar-theme($allu-theme, $allu-success, $allu-basic);
@include information-request-theme($allu-theme, $black-8-opacity);
@include application-notification-theme($allu-theme);
@include charge-basis-theme($allu-theme);
@include invoice-theme($allu-theme);
@include field-select-theme($allu-theme, $allu-success);

// Reset
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

// To allow content to fill all space
html, body{
  height: 100%;
  min-height: 100%;
  background: $allu-background;
}

// Box-sizing border-box
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
}

// Set up a default font and some padding to provide breathing room
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: $mat-body-font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: .010em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

a {
  color: mat-color($allu-primary, 400);
}

table {
  background-color: mat-contrast($allu-primary, 500);
}

thead.mat-calendar-table-header {
  border-bottom: none;
}

.row-highlight:hover {
  background-color: mat-color($allu-primary, 50) !important;
}

.main-content {
  margin: 0 24px;
}

.select-wrapper {
  .dropdown-content {
    z-index: 9999;
  }
}

.clickable {
  cursor: pointer;
}

.material-icons.icon-middle {
  vertical-align: middle;
}

.material-icons.sort-icon {
  vertical-align: middle;
  font-size: 20px;
}


.material-icons.mat-36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.material-icons.mat-48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

.mat-icon.align-with-text {
  margin-top: 6px;
}

.align-right {
  text-align: end;
}

button.btn-huge {
  width: 165px;
  height: 165px;

  .mat-icon {
    padding: 0;
    width: 165px;
    height: 165px;
    font-size: 10rem;
    line-height: 165px;
  }
}

.col.col-centered,
.centered {
  text-align: center;
}

mat-dialog-container {
  background: white;
  overflow: visible !important;
}

/* To override annoying yellow autofill color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.form-group {
  padding: 5px 0px;
  margin-bottom: 0px;

  .form-group-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.error-overflow .mat-form-field-subscript-wrapper {
  overflow: visible;
}

.input-field-label {
  font-weight: bold;
}

.input-field-checkbox .mat-checkbox-layout {
  margin: 8px 0;
  padding-bottom: 1.25em;
}

.row.no-left-pad .col {
  padding: 0 0.75rem 0 0;
  label {
    left: 0;
  }
}

.row.row-slim {
  margin-bottom: 0px;
}

.button-group {
  display: inline;
  margin-left: 3px;
  margin-right: 3px;

  [type="button"] {
    float: left;
    box-shadow: none;
  }

  [type="button"]:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    border-right: 1px solid mat-color($allu-primary, 600);
  }

  [type="button"]:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    border-left: 1px solid mat-color($allu-primary, 600);
  }

  [type="button"]:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-left: 1px solid mat-color($allu-primary, 600);
    border-right: 1px solid mat-color($allu-primary, 600);
  }
}

ul.card-list {
  display: flex;
  flex-direction: column;

  li {
    margin: 0 0 20px 0;
  }
}

.col.loose {
  margin: 5px 0;
}

.item-bar {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  padding: 0 16px;
  min-height: 64px;
  background-color: mat-contrast($allu-primary, 500);
  color: mat-color($allu-primary, 500);
  margin-bottom: 20px;

  .item-bar-content {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0px;
  }

  .item-bar-content > span {
    padding: 0 5px;
  }
}

.text-faint {
  color: $black-50-opacity;
}

.text-match-label {
  color: $black-50-opacity;
  font-size: 0.8rem;
}

.allu-chip {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-accent {
  @extend .allu-chip;
  color: mat-contrast($allu-accent, 800);
  font-weight: bold;
  letter-spacing: 1.5px;
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-primary {
  @extend .allu-chip;
  color: mat-contrast($allu-primary, 500);
}

.mat-chip:not(.mat-basic-chip).slim-chip {
  padding: 0px 12px;
}

.mat-chip.mat-chip-selected:not(.mat-basic-chip).mat-primary.chip-outline {
  color: mat-color($allu-primary, 500);
  background-color: transparent;
  border: 2px solid mat-color($allu-primary, 500);
}

.input-full-width {
  width: 100%;
}

.label-small {
  position: relative;
  display: block;
  left: -2px;
  text-align: left;
  transform-origin: left top;
  color: mat-color($allu-primary, 300);
  transform: scale(0.75);
  flex-grow: 1;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
}

input.real-file-input {
  display: none;
}

.file-drop-zone {
  display: inline-block;
  border: 2px dashed mat-color($allu-primary, 200);
  border-radius: 6px;
  width: 100%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.file-over-drop-zone {
  border-color: mat-color($allu-primary, 500);
}

.file-download-card {
  display: inline-flex;
  border: 2px solid mat-color($allu-primary, 200);
  border-radius: 6px;
  padding: 10px 30px;
  color: mat-color($allu-primary, 500);

  span {
    vertical-align: middle;
    font-weight: bold;
    line-height: 40px;
  }
}

.add-new-control {
  margin-bottom: 14px;
}

.no-wrap {
  white-space: nowrap;
}
