@import '../../../../assets/variables';

.mapcontainer {
  height: 430px;
  position: relative;

  .map-overlay {
    position: absolute;
    top: 10px;
    left: 24px;
    z-index: $over-map;
    width: 220px;
  }
}

h2.preview-header {
  font-size: 24px;
  font-weight: 400;
}

.preview-card {
  padding: 0 50px 0 30px;
}

.preview-card:not(:last-of-type) {
  border-right: solid 1px #e1e7e5;
}
