<pdf-view
  [pdf]="pdf$ | async"
  [loading]="loading$ | async"
  [processing]="processing$ | async">
</pdf-view>
<div class="document-footer">
  <decision-actions
    *ngIf="showDecisionActions$ | async"
    pdfViewFooter
    [application]="application$ | async"
    [approvedOperationalCondition]="approvedOperationalCondition$ | async"
    (onDecisionConfirm)="onDecisionConfirm()"></decision-actions>

  <contract-actions
    *ngIf="showContractActions$ | async"
    pdfViewFooter></contract-actions>
</div>
