<allu-card class="full-width" borderSide="left" [borderColor]="color">
  <mat-card-title class="allu-card-title">
    <ng-container *ngIf="invoice.invoicableTime; else openInvoice">
      {{invoice.invoicableTime | date:'shortDate'}}
    </ng-container>
    <ng-template #openInvoice>
      {{'invoice.open' | translation}}
    </ng-template>
  </mat-card-title>
  <mat-card-content class="bordered">
    <ul>
      <li *ngFor="let row of invoice.rows" class="invoice-row-container">
        <invoice-row [row]="row"></invoice-row>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-footer>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="100px"></div>
      <div fxFlex="15" fxFlexOffset="70" class="text-highlighted">
        {{'common.totalPrice' | translation}}: {{totalPrice | centsToEuros}}
      </div>
    </div>
  </mat-card-footer>
</allu-card>


