<form [formGroup]="infoForm" (ngSubmit)="onSubmit()" novalidate>
  <div fxLayout="row wrap">
    <div fxFlex="100">
      <invoicing-info [form]="infoForm"></invoicing-info>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100">
      <charge-basis *ngIf="!infoForm.value.notBillable"></charge-basis>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100">
      <invoice-list
        *ngIf="!infoForm.value.notBillable"
        [invoices]="invoices$ | async"
      ></invoice-list>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100">
      <invoice-comments [applicationId]="applicationId"></invoice-comments>
    </div>
  </div>
  <bottom-bar>
    <div class="bottom-bar-item">
      <button type="submit" mat-raised-button color="primary" [disabled]="!(infoForm.valid && infoForm.dirty)">
        {{'common.button.save' | translation}}
      </button>
      <button type="button" mat-raised-button color="primary" [disabled]="!infoForm.dirty" (click)="cancel()">
        {{'common.button.cancel' | translation}}
      </button>
    </div>
  </bottom-bar>
</form>
