<div class="input-box-content">
  <ng-content select="[inputBoxPrefix]"></ng-content>
  <ng-content select="[inputBoxInput]"></ng-content>
  <ng-content select="[inputBoxSuffix]"></ng-content>
</div>
