<form [formGroup]="communicationForm">
  <allu-card>
    <mat-card-title>Päätöksen jakelu</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col l4 m6 s12">
          <mat-form-field class="input-full-width">
            <mat-select class="input-full-width" formControlName="publicityType" placeholder="Julkisuus*">
              <mat-option *ngFor="let type of publicityTypes" [value]="type">
                {{['application.publicityType', type] | translation}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col s12" *ngIf="distributionList">
          <distribution-list [form]="communicationForm" [distributionList]="distributionList"
                             [readonly]="readonly"></distribution-list>
        </div>
      </div>
    </mat-card-content>
  </allu-card>
</form>
