<div class="main-content">
  <div [formGroup]="searchForm" fxLayout="row wrap" fxLayoutGap="18px" fxLayoutAlign="start center">
    <div fxFlex="calc(25% - 18px)">
      <input-box>
        <input inputBoxInput type="text" formControlName="name" [placeholder]="'customer.search.name' | translation"/>
      </input-box>
    </div>
    <div fxFlex="calc(25% - 18px)">
      <input-box>
        <input inputBoxInput type="text" formControlName="registryKey" [placeholder]="'customer.search.registryKey' | translation"/>
      </input-box>
    </div>
    <div fxFlex="calc(25% - 18px)">
      <input-box>
        <select inputBoxInput formControlName="type">
          <option value="" selected>{{'customer.search.type' | translation}}</option>
          <option *ngFor="let type of customerTypes" value="{{type}}">
            {{['customer.type', type, 'name'] | translation}}
          </option>
        </select>
      </input-box>
    </div>
    <div fxFlex="calc(25% - 18px)">
      <button mat-raised-button type="button" color="primary" (click)="search()">
        {{'common.button.search' | translation}}
      </button>
    </div>
  </div>
  <div fxLayout="row" *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
    <div fxFlex>
      <button mat-raised-button type="button" color="primary" (click)="newCustomer()">
        {{'customer.addNew' | translation}}
      </button>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex>
      <div class="mat-elevation-z8 data-table data-table-with-paging">
        <div class="loading-shade" *ngIf="customerSource.loading">
          <mat-spinner></mat-spinner>
        </div>

        <mat-table #table [dataSource]="customerSource" matSort [trackBy]="trackById">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'customer.nameLabel' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a class="row-details-link" [routerLink]="['/customers', row.id]">
                {{row.name}}
              </a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>{{'customer.type.title' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ ['customer.type', row.type, 'name'] | translation }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="registryKey">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'customer.registryKey' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.registryKey}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>{{'customer.email' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef>{{'customer.phone' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.phone}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="postalAddress">
            <mat-header-cell *matHeaderCellDef>{{'customer.postalAddress' | translation}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.postalAddress.uiStreetAddress}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="allu-table-header"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-highlight"></mat-row>
        </mat-table>

        <mat-paginator #paginator
                       [length]="customerSource.pageSnapshot.totalElements"
                       [pageIndex]="customerSource.pageSnapshot.pageNumber"
                       [pageSize]="25"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
