<form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)"
      *ngIf="applicationChanges | async as application">
  <customer [parentForm]="applicationForm"
            [customerWithContacts]="application.applicant"
            [readonly]="readonly"
            [showRepresentative]="true"
            [contactRequired]="true"
            [pendingInfo]="pendingCustomerInfo$ | async"></customer>

  <customer *ngIf="hasRepresentative"
            [parentForm]="applicationForm"
            [customerWithContacts]="application.representative"
            [readonly]="readonly"></customer>

  <div class="row">
    <div class="col m12">
      <allu-card>
        <mat-card-title>Sijoitussopimuksen tiedot</mat-card-title>
        <mat-card-content>
          <div class="row form-group">
            <div class="col m6">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="propertyIdentificationNumber"
                       [placeholder]="'application.placementContract.propertyIdentificationNumber' | translation"/>
              </mat-form-field>
            </div>
          </div>
          <div class="row form-group">
            <div formGroupName="validityTimes">
              <div class="col s3">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="startTime" placeholder="Voimassaolon aloitus*"
                         [matDatepicker]="startTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="startTimePicker"
                                         [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #startTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm.get('validityTimes')" field="startTime" hasError="required">
                      {{'application.common.field.validityStartTimeMissing' | translation}}
                    </field-error>
                    <field-error [form]="applicationForm" field="validityTimes" hasError="startBeforeEnd">
                      {{'application.common.field.validityStartBeforeEnd' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col s3">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="endTime" placeholder="Voimassaolon lopetus*"
                         [matDatepicker]="endTimePicker"/>
                  <mat-datepicker-toggle matSuffix [for]="endTimePicker" [disabled]="readonly"></mat-datepicker-toggle>
                  <mat-datepicker #endTimePicker></mat-datepicker>
                  <mat-hint>
                    <field-error [form]="applicationForm.get('validityTimes')" field="endTime" hasError="required">
                      {{'application.common.field.validityEndTimeMissing' | translation}}
                    </field-error>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="col m3">
              <mat-form-field class="input-full-width">
                <input matInput type="text" formControlName="terminationDate"
                       [placeholder]="'application.placementContract.terminationDate' | translation"
                       [matDatepicker]="terminationDatePicker"/>
                <mat-datepicker-toggle matSuffix [for]="terminationDatePicker"
                                       [disabled]="readonly"></mat-datepicker-toggle>
                <mat-datepicker #terminationDatePicker></mat-datepicker>
              </mat-form-field>
            </div>

          </div>
          <div class="row form-group">
            <div class="col m12">
              <mat-form-field class="input-full-width">
                <textarea matInput matTextareaAutosize formControlName="additionalInfo"
                          placeholder="Työn kuvaus"></textarea>
              </mat-form-field>
            </div>
            <div class="col m12">
              <mat-form-field class="input-full-width">
                <textarea matInput matTextareaAutosize formControlName="contractText"
                          [placeholder]="'application.placementContract.contractText' | translation"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div class="row" *ngIf="readonly">
    <div class="col m12">
      <location-details [application]="application" [readonly]="readonly"></location-details>
    </div>
  </div>

  <div fxLayout="row" *ngIf="showTerms">
    <div fxFlex>
      <allu-card>
        <mat-card-title>{{'TERMS.title' | translation}}</mat-card-title>
        <mat-card-content>
          <default-text formControlName="terms"
                        [applicationType]="application.type"
                        [readonly]="readonly"
                        [textType]="'TERMS'"
                        [includeTypes]="['TERMS']"></default-text>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <allu-card>
        <mat-card-title>{{'OTHER.title' | translation}}</mat-card-title>
        <mat-card-content>
          <default-text formControlName="rationale"
                        [applicationType]="application.type"
                        [readonly]="readonly"
                        [textType]="'OTHER'"
                        [includeTypes]="['OTHER']"></default-text>
        </mat-card-content>
      </allu-card>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <distribution [form]="applicationForm" [application]="application" [readonly]="readonly"></distribution>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <application-actions
        [readonly]="readonly"
        [valid]="applicationForm.valid"
        [informationRequest]="informationRequest$ | async"
        [pendingClientData]="pendingClientData$ | async"
        [pendingInformationRequestResponse]="pendingInformationRequestResponse$ | async"
        [submitPending]="submitPending"></application-actions>
    </div>
  </div>
</form>
