<bottom-bar>
  <ng-container *ngIf="pendingClientData; else normalActions">
    <div class="bottom-bar-item">
      <button mat-raised-button type="button" color="primary" (click)="showExternalUpdates()">
        {{'application.button.showPending' | translation | uppercase}}
      </button>
    </div>
  </ng-container>
  <ng-template #normalActions>
    <ng-container *ngIf="showActions">
      <div class="bottom-bar-item">
        <ng-container *availableTo="MODIFY_ROLES">
          <button *ngIf="showReplace" mat-raised-button type="button" color="primary" (click)="replace()">
            {{'application.button.replace' | translation | uppercase}}
          </button>
        </ng-container>
        <ng-container *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION']">
          <button *ngIf="showEdit" mat-raised-button type="button" color="primary"
                  [routerLink]="['/applications', applicationId, 'edit']">
            {{'common.button.edit' | translation | uppercase}}
          </button>
          <button *ngIf="pendingInformationRequestResponse"
                  mat-raised-button
                  type="button"
                  color="primary"
                  (click)="showExternalUpdates()">
            {{'application.button.handleInformationRequestResponse' | translation | uppercase}}
          </button>
          <button mat-raised-button type="button" color="primary" (click)="copyApplicationAsNew()">
            {{'application.button.copy' | translation | uppercase}}
          </button>
          <button *ngIf="showDelete" mat-raised-button type="button" color="primary" (click)="delete()">
            {{'common.button.remove' | translation | uppercase}}
          </button>
        </ng-container>
      </div>
      <div class="bottom-bar-item">
        <ng-container *ngIf="!readonly">
          <button type="submit" mat-raised-button color="primary" [disabled]="submitPending || !valid">
            {{'common.button.save' | translation | uppercase}}
          </button>
        </ng-container>
        <ng-container *ngIf="readonly">
          <ng-container *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION', 'ROLE_DECISION']">
            <button *ngIf="showCancel" mat-raised-button type="button" color="primary" (click)="cancel()">
              {{'application.button.cancel' | translation | uppercase}}
            </button>
            <button *ngIf="showConvertToApplication" mat-raised-button type="button" color="primary" (click)="convertToApplication()">
              {{'application.button.convertToApplication' | translation | uppercase}}
            </button>
            <button *ngIf="showInformationRequest" mat-raised-button type="button" color="primary" (click)="showInformationRequestInfo()">
              {{'application.button.informationRequest' | translation | uppercase}}
            </button>
            <button *ngIf="informationRequest" mat-raised-button type="button" color="primary" (click)="cancelInformationRequest()">
              {{'application.button.cancelInformationRequest' | translation | uppercase}}
            </button>
            <button *ngIf="showHandling" mat-raised-button type="button" color="primary" (click)="moveToHandling()">
              {{'application.button.toHandling' | translation | uppercase}}
            </button>
          </ng-container>
          <button *ngIf="showDecision" [disabled]="decisionDisabled" mat-raised-button type="button" color="primary"
                  (click)="toDecisionmaking()">
            {{'application.button.toDecision' | translation | uppercase}}
          </button>
        </ng-container>
      </div>
    </ng-container>
  </ng-template>
</bottom-bar>
