<form [formGroup]="recurringForm">
  <mat-radio-group formControlName="type" class="vertical-radio-group">
    <mat-radio-button value="none" class="recurring-radio-button">Ei toistu</mat-radio-button>
    <mat-radio-button value="forNow" class="recurring-radio-button">Toistaiseksi vuosittain toistuva</mat-radio-button>
    <mat-radio-button value="until" class="recurring-radio-button">
      <span>Toistuu vuosittain</span>
      <span>
                <mat-form-field floatLabel="never" class="error-overflow">
                    <input type="number" matInput formControlName="endYear" placeholder="Loppuvuosi"
                           class="year-input" min="{{minYear}}" max="{{maxYear}}" step="1"/>
                    <mat-error>{{'application.field.recurringEndYearNotBetween' | translation}}</mat-error>
                </mat-form-field>
            </span>
      <span>asti</span>
    </mat-radio-button>
  </mat-radio-group>
</form>
