:host {
  display: block;
  margin: 0 100px;
}

.map-container {
  width: 400px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.location-info {
  padding: 10px 5px;
}

.location-info > *:not(:first-child):before {
  content: '|';
  margin: 0 5px;
}
