<div class="mat-elevation-z8 data-table data-table-with-paging">
  <div class="loading-shade" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackById">
    <ng-container matColumnDef="selected">
      <mat-header-cell *matHeaderCellDef>
        <div>
          <mat-checkbox [checked]="allSelected" (change)="checkAll($event)"></mat-checkbox>
        </div>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="selected(row.id)" (change)="checkSingle($event, row.id)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner.realName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.owner' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.owner?.realName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.taskType' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a class="row-details-link" [routerLink]="['/applications', row.applicationId, 'summary', 'supervision']">
          {{['supervision.task.type', row.type] | translation}}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="application.applicationId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.applicationId' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.applicationIdText}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.address' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.address}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="plannedFinishingTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.plannedFinishingTime' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.plannedFinishingTime | date:'shortDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="application.status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.applicationStatus' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{['application.status', row.uiApplicationStatus] | translation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creator.realName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'supervisionWorkqueue.content.creator' | translation}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.creator?.realName}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="allu-table-header"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-highlight"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="length"
                 [pageIndex]="pageIndex"
                 [pageSize]="25"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
