<h1 class="content-header">{{'comment.title' | translation}}</h1>

<div class="add-new-control" *availableTo="['ROLE_CREATE_APPLICATION', 'ROLE_PROCESS_APPLICATION', 'ROLE_DECISION', 'ROLE_DECLARANT']">
  <allu-card>
    <mat-card-content>
      <comment (save)="save($event)"></comment>
    </mat-card-content>
  </allu-card>
</div>

<ng-container *ngIf="comments$ | async as comments">
  <div fxLayout="row" fxLayoutAlign="end" *ngIf="comments.length > 0">
    <div fxFlex="none">
      <button class="button-link" (click)="toggleDirection()">
        {{['sort.time', direction$ | async] | translation}}
      </button>
    </div>
  </div>

  <comment-list [comments]="comments"
                (save)="save($event)"
                (remove)="remove($event)"></comment-list>
</ng-container>
