<form [formGroup]="form">
  <div formArrayName="distributionRows">
    <table class="bordered responsive-table">
      <thead>
      <tr>
        <th>
          <button type="button" mat-icon-button (click)="add()" *ngIf="!readonly">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <th>Nimi</th>
        <th>Tyyppi</th>
        <th>Osoite</th>
      </tr>
      </thead>
      <tbody>
      <tr [formGroupName]="i" *ngFor="let distribution of distributionRows.controls; let i = index"
          class="row-highlight">
        <td>
          <div *ngIf="!readonly">
                        <span>
                            <button type="button" mat-icon-button (click)="remove(i)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </span>
            <span *ngIf="!distribution.value.edit">
                            <button type="button" mat-icon-button (click)="edit(distribution)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </span>
            <span *ngIf="distribution.value.edit">
                            <button type="button" mat-icon-button (click)="save(distribution)"
                                    [disabled]="!distributionRows.controls[i].valid">
                                <mat-icon>save</mat-icon>
                            </button>
                        </span>
          </div>
        </td>
        <td>
          <div *ngIf="!distribution.value.edit">{{distribution.value.name}}</div>
          <input-box *ngIf="distribution.value.edit">
            <input inputBoxInput type="text" formControlName="name" placeholder="Nimi*"/>
            <field-error [form]="distributionRows.controls[i]" field="name" hasError="required">
              {{'common.field.nameMissing' | translation}}
            </field-error>
          </input-box>
        </td>
        <td>
          <div *ngIf="!distribution.value.edit">{{['decision.distribution.type', distribution.value.type] |
            translation}}
          </div>
          <input-box *ngIf="distribution.value.edit">
            <select inputBoxInput type="text" formControlName="type">
              <option *ngFor="let type of distributionTypes" value="{{type}}">
                {{['decision.distribution.type', type] | translation}}
              </option>
            </select>
          </input-box>
        </td>
        <td *ngIf="distribution.value.type === 'EMAIL'">
          <div *ngIf="!distribution.value.edit">{{distribution.value.email}}</div>
          <div class="table-flex-field" *ngIf="distribution.value.edit">
            <input-box>
              <input inputBoxInput type="text" placeholder="Sähköposti*" formControlName="email"/>
              <field-error [form]="distributionRows.controls[i]" field="email" hasError="email">
                {{'common.field.emailInvalid' | translation}}
              </field-error>
            </input-box>
          </div>
        </td>
        <td *ngIf="distribution.value.type === 'PAPER'">
          <div *ngIf="!distribution.value.edit">
            <span>{{distribution.value.streetAddress}}</span>
            <span>{{distribution.value.postalCode}}</span>
            <span>{{distribution.value.city}}</span>
          </div>
          <div class="table-flex-field" *ngIf="distribution.value.edit">
            <input-box>
              <input inputBoxInput type="text" placeholder="Katuosoite*" formControlName="streetAddress"/>
            </input-box>
            <input-box>
              <input inputBoxInput type="text" placeholder="Postinumero" formControlName="postalCode"/>
              <field-error [form]="distributionRows.controls[i]" field="postalCode" hasError="pattern">
                {{'common.field.postalCode' | translation}}
              </field-error>
            </input-box>
            <input-box>
              <input inputBoxInput type="text" placeholder="Postitoimipaikka" formControlName="city"/>
            </input-box>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
