<div class="main-content">
  <form [formGroup]="form" id="form" (ngSubmit)="onSubmit(form.getRawValue())">
    <div fxLayout="row" fxLayoutGap="18px">
      <div fxFlex="50%">
        <allu-card>
          <mat-card-title>{{'project.info.title' | translation}}</mat-card-title>
          <mat-card-content>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex="calc(25% - 18px)">
                <mat-form-field class="input-full-width">
                  <mat-select class="input-full-width" formControlName="customerType" required
                              [placeholder]="'project.info.ownerType' | translation">
                    <mat-option *ngFor="let type of customerTypes" [value]="type">
                      {{['customer.type', type, 'name'] | translation}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.get('customerType').hasError('required')">
                    {{'customer.field.typeMissing' | translation}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="calc(75% - 18px)">
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="customer" required
                         [matAutocomplete]="customerSearch"
                         [placeholder]="'project.info.ownerName' | translation"/>

                  <mat-autocomplete #customerSearch="matAutocomplete"
                                    [displayWith]="customerName"
                                    (optionSelected)="selectCustomer($event.option)">
                    <mat-option *ngFor="let customer of matchingCustomers$ | async"
                                [value]="customer">
                      {{ customer.name }}
                    </mat-option>
                  </mat-autocomplete>

                  <mat-error *ngIf="form.get('customer').hasError('idRequired')">
                    {{'project.field.ownerMissing' | translation}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex>
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="contact" required
                         [matAutocomplete]="contactSearch"
                         [placeholder]="'project.info.contactName' | translation"/>

                  <mat-autocomplete #contactSearch="matAutocomplete"
                                    [displayWith]="contactName"
                                    (optionSelected)="selectContact($event.option)">
                    <mat-option *ngFor="let contact of matchingContacts$ | async"
                                [value]="contact">
                      {{ contact.name }}
                    </mat-option>
                  </mat-autocomplete>

                  <mat-error *ngIf="form.get('contact').hasError('idRequired')">
                    {{'project.field.contactMissing' | translation}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="contactPhone"
                         [placeholder]="'project.info.contactPhone' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="contactEmail"
                         [placeholder]="'project.info.contactEmail' | translation"/>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex>
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="identifier" required
                         [placeholder]="'project.info.identifier' | translation"/>
                  <mat-error *ngIf="form.get('identifier').hasError('required')">
                    {{'project.field.identifierMissing' | translation}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="name"
                         [placeholder]="'project.info.name' | translation"/>
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field class="input-full-width">
                  <input matInput type="text" formControlName="customerReference"
                         [placeholder]="'project.info.customerReference' | translation"/>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex>
                <mat-form-field class="input-full-width">
                  <textarea matInput matTextareaAutosize formControlName="additionalInfo"
                            [placeholder]="'project.info.additionalInfo' | translation"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="18px">
              <div fxFlex="none">
                <button type="submit" form="form" [disabled]="!form.valid"
                        mat-raised-button color="primary">
                  {{'common.button.save' | translation | uppercase}}
                </button>
              </div>
              <div fxFlex="none">
                <button *ngIf="!form.value.id" mat-raised-button type="button" color="primary"
                        [routerLink]="['/projectSearch']">
                  {{'common.button.cancel' | translation | uppercase}}
                </button>

                <button *ngIf="form.value.id" mat-raised-button type="button" color="primary"
                        [routerLink]="['/projects', form.value.id]">
                  {{'common.button.cancel' | translation | uppercase}}
                </button>
              </div>
            </div>
          </mat-card-content>
        </allu-card>
      </div>
    </div>
  </form>

  <div *ngIf="applications$ | async as applications">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="18px">
      <div fxFlex="auto">
        <h1>{{'project.applications.title' | translation}}</h1>
      </div>
    </div>

    <project-application-list *ngIf="applications.length"
      [applications]="applications"
      [controls]="false">
    </project-application-list>
  </div>
</div>
